@font-face {
    font-family: 'Fairfax';
    src: local('Fairfax'),
        url('/fonts/engrune-Fairfax.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fairfax';
    src: local('Fairfax Italic'), local('FairfaxItalic'),
        url('/fonts/engrune-FairfaxItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fairfax';
    src: local('Fairfax Bold'), local('FairfaxBold'),
        url('/fonts/engrune-FairfaxBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nishiki-teki';
    src: local('Nishiki-teki'),
        url('/fonts/engrune-Nishiki-teki.woff') format('woff');
}

/* Huge shoutout to Transfonter for their awesome free service */

body {
	margin: 2% 10% 2% 10%;
}

* {
	background-color: #f0f0f0;
	text-decoration: none;
}

.footnote {
	font-size: 0.75em;
	color: #101010;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nishiki-teki';
	text-align: center;
	color: #101010;
	font-weight: normal;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
}

p {
	font-family: 'Fairfax';
	color: #202020;
	font-size: 12px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
}
